<!DOCTYPE html>
<body>
    <%#- JSON.stringify(locals.responseJSON) || "defualt"%>
    <%# var previewJson = JSON.parse(locals.preview) %>
    <%# previewJson.Video[0].Title%>
    <!--<%# for(var i = 0; i < locals.videoTitles.size; i++) { %>
        <div>
            <h1>video title: <%#locals.videoTitles[i]%></h1>
            <a href="<%#locals.videoUrls[i]%>"></a>
        </div>
        
     <%# } %>-->
    
     <%# for (var i =1; i <=10;  i++ ) { %>
          <%#= i %> 
        <%#  will output the numbers 1-10 %>
        <%# } %>
        <!--<h1><%#= previewJson['Video'][0]['Title'] %></h1>
            <h1><%#= Object.keys(previewJson['Video'])%></h1>-->
    
    <% var previewJson = JSON.parse(preview) %>
    <% if ( locals.preview) { %>
        <% for(key in previewJson['video']) { %>
            <% if(previewJson['video'].hasOwnProperty(key)) { //make another for loop for all the keys%> <!--make the href lead to the play page with the current id (add the ids to the json)-->
                <div>
                <!--<a href="<%#= previewJson['Video'][key]['Url'] %>">-->
                <a href="/play?v=<%= previewJson['video'][key]['id'] %>">
                <p><%= previewJson['video'][key]['title'] %></p>
                <img src="<%= previewJson['video'][key]['thumbnail'] %>">
                </a> 
                </div>
            <% } %>
        <% } %>
    <% } %>
</body>
</html>